{% extends "base.html" %} {% block title %}Flight Club - Home{% endblock %} {%
block content %}
<div class="bg-image py-5">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="container text-center">
      <h1 class="display-4 text-white">Welcome to Flight Club!</h1>
      <p class="lead text-white">
        Join our exclusive Flight Club and get access to exclusive flight deals!
      </p>
      <hr class="my-4" />
      <a
        class="btn btn-primary btn-lg"
        href="{{ url_for('register') }}"
        role="button"
        >Sign up now!</a
      >
    </div>
  </div>
</div>
{% endblock %}
