{% extends 'base.html' %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Flight Club</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('register')}}">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg-image">
  <div class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-white">Welcome to Flight Club!</h1>
          <p class="lead text-white">
            Join our exclusive Flight Club and get access to exclusive flight
            deals!
          </p>
          <hr class="my-4" />
          <a
            class="btn btn-primary btn-lg"
            href="{{ url_for('register') }}"
            role="button"
            >Sign up now!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
